<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<nav class="navbar">
  <ul>
    <li><a routerLink="/employees">Employees</a></li>
    <li><a routerLink="/add">+ Add Employee</a></li>
  </ul>
</nav>
<div class="app-container">
  <!-- Background Image Section -->
  <header class="header-section">
    <img src="imgs/office.jpg" alt="Employee Manager Background" class="header-image" />
    <div class="header-overlay">
      <h1>Employee Manager</h1>
    </div>
  </header>

  <!-- Navigation Bar -->



</div>



<router-outlet />
